body {
  background-color: #1b2838;
  padding: 0;
  margin: 0;
  /* background-image: url('https://gifbucket.s3-us-west-1.amazonaws.com/FEC_background.jpg');
  opacity: 0.5;
  background-color: #1b2838; */
}

#test {
  color: red;
}

#headerApp {

}

#serviceWrapper {
  background-color: #1b2838;

}